#share
#etc
.env
log.txt
uploads/
outputs/
models/
build_and_deploy.sh
CACHEDIR.TAG
Dockerfile
.dockerignore
.gitignore
.env
.git
.gitignore
.lock
log.txt
pyproject.toml
.python-version
pyvenv.cfg
README.md
uv.lock
